<style>
p {
    text-align: center;
}
</style>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Você foi cadastrado com sucesso!</p>
    <p>Estamos te redirecionando para a tela de Login, caso não redirecione,</p><a href="http://127.0.0.1:5000/"> Clique aqui </a>
    <meta http-equiv="refresh" content="5; URL='http://127.0.0.1:5000/' "/>
</body>
</html>